<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameServer.Properties.Settings>
            <setting name="GSPort" serializeAs="String">
                <value>8701</value>
            </setting>
            <setting name="TSPort" serializeAs="String">
                <value>6678</value>
            </setting>
            <setting name="PacketLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AbnormalBlockTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DisconnectTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxLevel" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="EquipRepairDto" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtraDropRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LessExpGrade" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LessExpGradeRate" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="TemptationTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ItemCleaningTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ItemOwnershipTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GameData目录" serializeAs="String">
                <value>.\Database</value>
            </setting>
            <setting name="GameDataDirectory" serializeAs="String">
                <value>.\Backup</value>
            </setting>
            <setting name="NoobLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoftwareRegistrationCode" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemAnnounceText" serializeAs="String">
                <value>1	1	欢迎来到《永恒传奇》的世界，有了你，《永恒传奇》更精彩!</value>
            </setting>
            <setting name="SendPacketsAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugPackets" serializeAs="String">
                <value>False</value>
            </setting>
        </GameServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
