<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameServer.Properties.Settings>
            <setting name="客户连接端口" serializeAs="String">
                <value>8701</value>
            </setting>
            <setting name="门票接收端口" serializeAs="String">
                <value>6678</value>
            </setting>
            <setting name="封包限定数量" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="异常屏蔽时间" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="掉线判定时间" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="游戏OpenLevelCommand" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="装备特修折扣" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="怪物额外爆率" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="怪物经验倍率" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="减收益等级差" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="收益减少比率" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="怪物诱惑时长" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="物品清理时间" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="物品归属时间" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="GameData目录" serializeAs="String">
                <value>.\Database</value>
            </setting>
            <setting name="数据备份目录" serializeAs="String">
                <value>.\Backup</value>
            </setting>
            <setting name="系统公告内容" serializeAs="String">
                <value>1	3	欢迎来到传奇永恒的世界，传奇永恒有您更精彩！</value>
            </setting>
            <setting name="NoobSupportCommand等级" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="软件注册代码" serializeAs="String">
                <value/>
            </setting>
        </GameServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
